{% extends 'store/base-store.html' %}
{% load static %}

{% block content %}

<div class="bg-landing">
    <div class="container">
        <a href="{% url 'store' %}" class="non-link">
            <div class="landing-title">O Pastry</div>
        </a>
        <div class="landing-text">Welcome to our delightful pastry haven! Indulge in the exquisite world of artisanal pastries, where each bite is a symphony of flavors. Discover a tempting array of meticulously crafted treats that promise to satisfy your sweetest cravings. From flaky croissants to decadent cakes, our pastries are a celebration of quality ingredients and expert craftsmanship. Join us on a journey of taste and elevate your dessert experience. Explore our online pastry paradise and treat yourself to the extraordinary. Sweet moments await!</div>

        <div class="d-flex justify-content-center">
            <a href="{% url 'store' %}"> <button class="big-button-landing mt-5">Check out our store</button></a>
        </div>

        <hr>

        <div class="row">
            <div class="col">
                <a href="{% url 'store' %}?category=CO" class="non-link">
                    <div class="d-flex justify-content-center detail-price mt-5">Cookies</div>
                    <div class="landing-description">Welcome to a world of cookie perfection! Dive into our irresistible collection of freshly baked cookies, where each bite is a moment of pure bliss. From classic chocolate chip to innovative flavor twists, our cookies are crafted with care and precision. Experience the perfect balance of crispy edges and chewy centers, delivering a symphony of flavors that will delight your taste buds. Indulge in the simplicity of a timeless treat, made with the finest ingredients and a passion for baking. Explore our cookie wonderland and treat yourself to the ultimate sweet escape. Your journey to cookie happiness begins here!</div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'store' %}?category=CO">
                    <img src="{% static  'store/landing-cookie.jpg' %}" alt="" class="landing-image">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'store' %}?category=CA">
                    <img src="{% static 'store/landing-cake.jpg' %}" alt="" class="landing-image">
                </a>
            </div>
            <div class="col">
                <a href="{% url 'store' %}?category=CA" class="non-link">
                    <div class="d-flex justify-content-center detail-price mt-5">Cakes</div>
                    <div class="landing-description">Step into a world of decadence with our exquisite cakes! From elegant classics to modern masterpieces, our cakes are crafted with precision and passion. Indulge in layers of perfection, where moist textures meet heavenly flavors. Whether celebrating a special occasion or simply satisfying your sweet cravings, our cakes promise an unforgettable experience. Made with the finest ingredients, each creation is a testament to our dedication to baking excellence. Elevate your moments with a slice of happiness – explore our cake collection and discover the artistry of flavor and design. Welcome to a world where every slice tells a delicious story!</div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="{% url 'store' %}?category=I" class="non-link">
                    <div class="d-flex justify-content-center detail-price mt-5">Ice creams</div>
                    <div class="landing-description">Dive into a world of frozen delights with our premium ice creams! Indulge in a symphony of velvety textures and rich flavors that will transport your taste buds to a paradise of sweetness. Crafted with care and the finest ingredients, our ice creams are a celebration of pure indulgence. From classic favorites to innovative creations, each scoop is a journey of delight. Whether you're savoring a solo moment or sharing with loved ones, our ice creams promise a refreshing escape. Embrace the cool allure of our frozen treasures – your passport to a world where every bite is a blissful chill. Treat yourself to the extraordinary; your ice cream adventure begins here!
                    </div>
                </a>
            </div>
            <div class="col">
                <a href="{% url 'store' %}?category=I">
                    <img src="{% static 'store/landing-ice-cream.jpg' %}" alt="" class="landing-image">
                </a>
            </div>
            <div class="row">
                <div class="col">
                    <a href="{% url 'store' %}">
                        <img src="{% static 'store/landing-macrons.jpg' %}" alt="" class="landing-image">
                    </a>
                </div>
                <div class="col">
                    <a href="{% url 'store' %}" class="non-link">
                        <div class="d-flex justify-content-center detail-price mt-5">Other sweets</div>
                        <div class="landing-description">Step into a world of sweetness with our handcrafted treats! From decadent chocolates to playful candies, our collection is a symphony of indulgence. Elevate every moment with our artisanal sweets, meticulously crafted for your delight. Explore the extraordinary – where every bite is a celebration of taste and joy!</div>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>

{% endblock content %}